{% if customer.name %}
<p class="lead">Hallo {{ customer.name }},</p>
{% endif %}
<p class="lead">Es wurde ein Account bei {{ shop.name }} für dich erstellt.</p>
<p>Gehe zum Shop um deinen Account zu aktivieren und erstelle Dein Passwort. </p>
<p>{{ customer.account_activation_url }}</p>

