{% if customer.name %}
<p class="lead">Hallo {{ customer.name }},</p>
{% endif %}
<p class="lead">Vielen Dank, dass du einen Account bei {{ shop.name }} erstellt hast.</p>
<p>Bei Deinem nächsten Einkauf kannst du dich direkt einloggen. </p>
<p>Danke,</p>
<p>{{ shop.name }}</p>

