{% if customer.name %}
<p class="lead">Hallo {{ customer.name }},</p>
{% endif %}
<p class="lead">Du hast das Zur端cksetzen Deines Passwortes f端r Deinen Account bei {{ shop.name }} angefragt.</p>
<p>Bitte klicke diesen Link um dein Passwort zur端ckzusetzten.</p>
<p>{{ customer.reset_password_url }}</p>
<p>Solltest du dein Passwort nicht zur端cksetzen wollen, dann ignoriere diese Email einfach.</p>
