<h2>Hallo <%=@user.try(:contact_address).try(:name) %></h2>
<br>
<br>
<h3>Zuerst die schlechte Nachricht</h3>
<p style="margin: 15px 0px 40px;font-size:1.2em">
  Unser alter Onlineshop in dem Du Dein Kundenkonto erstellt hast, ist abgeschaltet und Dein altes Kundenkonto gelöscht.
</p>
<br>
<br>

<h3 style="font-weight:bold;">und nun die gute Nachricht</h3>
<p style="margin:10px 0px 15px; font-size:1.3em;">Wir haben einen neuen <a href="http://shishabrand.com">Onlineshop!</a></p>
<p style="font-size:1.2em">Pünktlich zum <a href="http://shishabrand.com">Black-Friday-Weekend</a> haben wir einen neuen, schöneren und aufgeräumteren <a href="http://shishabrand.com">Onlineshop</a>.<br>
Jetzt findest du tolle Angebote, noch mehr Fotos, viele neue Features und kannst ohne Kundenkonto einkaufen.
</p>

<p style="margin-top:20px;font-size:1.2em">
Als Dankeschön, dass du wieder reinschaust haben wir einen 10% Gutschein für Deine nächste Order:
</p>

<a style="color:black;" href="http://shishabrand.com">
<div style="margin:20px 0px; background-color:rgb(217, 244, 251); padding:10px; text-align:center;">Gutscheincode: <strong>alles-neu-2015</strong></div>
</a>

<div style="width:100%; text-align:center">
  <a style="color:black; font-weight:bold;" href="http://shishabrand.com">Gutschein jetzt einlösen</a>
</div>


<p style="margin-top:60px;font-size:1.2em">
  Dein SHISHA Team
</p>

<p>
  <a href="http://shishabrand.com" >
    <img src="http://cdn.shopify.com/s/files/1/1035/5423/files/Gruppenfoto600_65610daa-7511-4398-b38c-0051169d85eb.jpg?13217795161999015554" alt="shisha team" >
  </a>
</p>

<div style="margin-top:40px; width:100%; text-align:center; font-size:1.3em;">
<a style="color:black;" href="http://shishabrand.com">shishabrand.com</a>
</div>

<div style="margin-top:50px; color:#aaa; text-align:center">
  Solltest Du Dich wundern, dass Du diese email erhalten hast und möchtest keine weiteren emails von uns erhalten, dann lösche einfach diese email. Wir werden dich nicht weiter kontaktieren, da dein Kundenkonto nun gelöscht ist.
</div>

