{% if billing_address.name %}
<p class="lead">Hallo {{ billing_address.name }}, </p>
{% endif %}

<p class="lead">Deine Order {{ name }} wurde storniert {% case cancel_reason %}{% when 'customer' %}in Deinem Auftrag.{% when 'inventory' %}weil wir leider einen Bestandsfehler hatten und die Order nicht ausführen können.{% when 'fraud' %}weil wir von einem Betrug ausgehen.{% when 'other' %}wegen unerklärlichen Umständen.{% endcase %}</p>

<p>{% if financial_status == 'voided' %}Deine Zahlung wurde zurückgewiesen.{% elsif financial_status == 'credited' %}Deine Zahlung wurde zurückgesandt.{% endif %}</p>

<p>Bei Fragen oder Unklarheiten antworte bitte direkt auf diese Email.</p>

<p>Danke,<br />
{{shop_name}}</p>

