<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
      
      
  </head>
  <body style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0; min-width: 100%; padding: 0; text-align: left; width: 100%;">
    <table class="body" style="border-collapse: collapse; border-spacing: 0; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; height: 100%; line-height: 19px; margin: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">
      <tr style="padding: 0; text-align: left; vertical-align: top;">
        <td class="center" align="center" valign="top" style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; hyphens: auto; line-height: 19px; margin: 0; padding: 0; text-align: center; vertical-align: top; word-break: break-word;">
          <center style="min-width: 580px; width: 100%;">
            <!-- HEADER -->
            <table class="row header" style="border-collapse: collapse; border-spacing: 0; padding: 0px; position: relative; text-align: left; vertical-align: top; width: 100%;">
              <tr style="padding: 0; text-align: left; vertical-align: top;">
                <td class="center" align="center" style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; hyphens: auto; line-height: 19px; margin: 0; padding: 0; text-align: center; vertical-align: top; word-break: break-word;">
                  <center style="min-width: 580px; width: 100%;">

                    <table class="container" style="border-collapse: collapse; border-spacing: 0; margin: 0 auto; padding: 0; text-align: inherit; vertical-align: top; width: 580px;">
                      <tr style="padding: 0; text-align: left; vertical-align: top;">
                        <td class="wrapper last" style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; hyphens: auto; line-height: 19px; margin: 0; padding: 10px 20px 0px 0px; padding-right: 0px; position: relative; text-align: left; vertical-align: top; word-break: break-word;">

                          <table class="twelve columns" style="border-collapse: collapse; border-spacing: 0; margin: 0 auto; padding: 0; text-align: left; vertical-align: top; width: 580px;">
                            <tr class="b-header" style="padding: 0; text-align: left; vertical-align: top;">
                              <td class="six sub-columns" style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; hyphens: auto; line-height: 19px; margin: 0; min-width: 0px; padding: 0px 0px 10px; padding-right: 10px; text-align: left; vertical-align: top; width: 50%; word-break: break-word;">
                                <a href="http://shishabrand.com" style="color: #2ba6cb; text-decoration: none;">
                                  <img src="{{ 'logo.png' | asset_url }}" class="logo" style="-ms-interpolation-mode: bicubic; border: none; clear: both; display: block; float: left; max-width: 100%; outline: none; text-decoration: none; width: auto;">
                                </a>
                              </td>
                              <td class="six sub-columns last" style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; hyphens: auto; line-height: 19px; margin: 0; min-width: 0px; padding: 0px 0px 10px; padding-right: 0px; text-align: right; vertical-align: middle; width: 50%; word-break: break-word;">
                              </td>
                              <td class="expander" style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; hyphens: auto; line-height: 19px; margin: 0; padding: 0; text-align: left; vertical-align: top; visibility: hidden; width: 0px; word-break: break-word;"></td>
                            </tr>
                          </table>

                        </td>
                      </tr>
                    </table>

                  </center>
                </td>
              </tr>
            </table>
            <!-- END OF HEADER -->

            <table class="container" style="border-collapse: collapse; border-spacing: 0; margin: 0 auto; padding: 0; text-align: inherit; vertical-align: top; width: 580px;">
              <tr style="padding: 0; text-align: left; vertical-align: top;">
                <td style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; hyphens: auto; line-height: 19px; margin: 0; padding: 0; text-align: left; vertical-align: top; word-break: break-word;">

                  <table class="row" style="border-collapse: collapse; border-spacing: 0; display: block; padding: 0px; position: relative; text-align: left; vertical-align: top; width: 100%;">
                    <tr style="padding: 0; text-align: left; vertical-align: top;">
                      <td class="wrapper last" style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; hyphens: auto; line-height: 19px; margin: 0; padding: 10px 20px 0px 0px; padding-right: 0px; position: relative; text-align: left; vertical-align: top; word-break: break-word;">

                        <table class="twelve columns" style="border-collapse: collapse; border-spacing: 0; margin: 0 auto; padding: 0; text-align: left; vertical-align: top; width: 580px;">
                          <tr style="padding: 0; text-align: left; vertical-align: top;">
                            <td style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; hyphens: auto; line-height: 19px; margin: 0; padding: 0px 0px 10px; text-align: left; vertical-align: top; word-break: break-word;">
                              <!-- Email Content -->
                              <p class="lead" style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 18px; font-weight: normal; line-height: 21px; margin: 0; margin-bottom: 10px; padding: 0; text-align: left;">Danke für deine Bestellung bei {{ shop_name }}!</p>
<p class="lead" style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 18px; font-weight: normal; line-height: 21px; margin: 0; margin-bottom: 10px; padding: 0; text-align: left;">dies ist deine Bestellbestätigung.</p>
<p style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0; margin-bottom: 10px; padding: 0; text-align: left;">Date {{ date | date: "%d/%m/%Y" }}</p>

{% if requires_shipping %}
<p style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0; margin-bottom: 10px; padding: 0; text-align: left;">
  <b>Lieferadresse</b><br>
  {{ shipping_address.name }}<br>
  {{ shipping_address.address1 }}<br>
  {% if shipping_address.address2 != nil %}
    {{ shipping_address.address2 }}<br>
  {% endif %}
  {{ shipping_address.city }}<br>
  {{ shipping_address.province }} {{ shipping_address.zip }}<br>
  {{ shipping_address.country }}
</p>
{% endif %}

<p style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0; margin-bottom: 10px; padding: 0; text-align: left;">
  <b>Rechnungsadresse</b><br>
  {{ billing_address.name }}<br>
  {{ billing_address.address1 }}<br>
  {% if billing_address.address2 != nil %}
    {{ billing_address.address2 }}<br>
  {% endif %}
  {{ billing_address.city }}<br>
  {{ billing_address.province }}
  {{ billing_address.zip }}<br>
  {{ billing_address.country }}
</p>

<table class="products-table" style="border-collapse: collapse; border-spacing: 0; margin-bottom: 1em; padding: 0; text-align: left; vertical-align: top; width: 100%;">
  <thead>
    <tr style="border-top: 1px solid #bbbbbb; padding: 0; text-align: left; vertical-align: top;">
      <th style="text-align: center;">
      </th>
      <th class="product-description" style="text-align: left;">
        Artikel
      </th>
      <th style="text-align: center;">
        Stk
      </th>
      <th style="text-align: center;">
        Preis
      </th>
    </tr>
  </thead>
  <tbody>
  {% for line in line_items %}
    <tr style="border-bottom: 1px solid #bbbbbb; border-top: 1px solid #bbbbbb; padding: 0; text-align: left; vertical-align: top;">
      <td class="product-image" style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; hyphens: auto; line-height: 19px; margin: 0; padding: 0px 0px 10px; padding-right: 5px; padding-top: 10px; text-align: left; vertical-align: middle; width: 100px; word-break: break-word;">
        <img src="{{ line.product.featured_image | product_img_url: 'small' }}" style="-ms-interpolation-mode: bicubic; clear: both; display: block; float: left; max-width: 100%; outline: none; text-decoration: none; width: auto;">
      </td>
      <td class="product-description" style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; hyphens: auto; line-height: 19px; margin: 0; padding: 0px 0px 10px; padding-top: 10px; text-align: left; vertical-align: middle; word-break: break-word;">
        {{ line.title }}
        {% for p in line.properties %}
          {% unless p.last == blank %}
            <br> - {{ p.first }}: {{ p.last }}
          {% endunless %}
        {% endfor %}
      </td>
      <td class="qty" style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; hyphens: auto; line-height: 19px; margin: 0; padding: 0px 0px 10px; padding-top: 10px; text-align: center; vertical-align: middle; word-break: break-word;">
        {{ line.quantity }} 
      </td>
      <td class="price" style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; hyphens: auto; line-height: 19px; margin: 0; padding: 0px 0px 10px; padding-top: 10px; text-align: center; vertical-align: middle; word-break: break-word;">
        {{ line.price | money }}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<div class="order-total-costs">
  {% if discounts %}
    <p style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0; margin-bottom: 10px; padding: 0; text-align: left;">Rabatt: {{ discounts_savings | money_with_currency }}</p>
  {% endif %}

  <p style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0; margin-bottom: 10px; padding: 0; text-align: left;">Zusammenfassung: {{ subtotal_price | money_with_currency }}</p>

  {% for tax_line in tax_lines %}
    <p style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0; margin-bottom: 10px; padding: 0; text-align: left;">{{ tax_line.title }}: {{ tax_line.price | money_with_currency }}</p>
  {% endfor %}

  {% if requires_shipping %}
    <p style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0; margin-bottom: 10px; padding: 0; text-align: left;">Versandkosten: {{ shipping_price | money_with_currency }}</p>
  {% endif %}

  <p style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0; margin-bottom: 10px; padding: 0; text-align: left;"><strong>Summe (inklusive 19% Mwst): {{ total_price | money_with_currency }}</strong></p>
</div>
<div style="margin:50px 0px">
  <h5 style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: bold; line-height: 1.3; margin: 0; padding: 0; text-align: left; word-break: normal;">Falls du Vorkasse Zahlung per Überweisung gewählt hast, verwende bitte folgendes Konto:</h5>
  <p style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0; margin-bottom: 10px; padding: 0; text-align: left;">
  Kontoinhaber: SHISHA GmbH<br>
  KontoNr/IBAN: DE92210501701400108435<br>
  Bank: Förde Sparkasse<br>
  BIC/SWIFT: NOLADE21KIE<br>
<br>
  Verwendungszweck: Bestellnummer {{name}}<br>

  </p>
</div>
<p class="contacts-for-questions" style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0; margin-bottom: 10px; margin-top: 1em; padding: 0; text-align: left;">
  <em>
    Falls du Fragen zu deiner Bestellung hast, ruf uns an <strong>{{ shop.phone | prepend: '+' }}</strong> oder schreibe uns <a href="mailto:{{ shop.email }}" style="color: #2ba6cb; text-decoration: none;">{{ shop.email }}</a>
  </em>
</p>

                            </td>
                            <td class="expander" style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; hyphens: auto; line-height: 19px; margin: 0; padding: 0; text-align: left; vertical-align: top; visibility: hidden; width: 0px; word-break: break-word;"></td>
                          </tr>
                          <tr style="padding: 0; text-align: left; vertical-align: top;">
                            <td style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; hyphens: auto; line-height: 19px; margin: 0; padding: 0px 0px 10px; text-align: center; vertical-align: top; word-break: break-word;">
                              <!-- Email Footer -->
                              <p style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0; margin-bottom: 10px; padding: 0; text-align: left;">
                                SHISHA GmbH<br>
                                Legienstrasse 40<br>
                                24103 Kiel <br>
                                Tel: 0431 22188940<br>
                                Fax: 0431 22188947<br>
                                <a href="mailto:info@shishabrand.com" style="color: #2ba6cb; text-decoration: none;"> info@shishabrand.com </a>
                              </p>
                              <p style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0; margin-bottom: 10px; padding: 0; text-align: left;">
                                Geschäftsführer:<br>
                                Christoph Schwarz<br>Kai Rautenberg
                              </p>
                              <p style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0; margin-bottom: 10px; padding: 0; text-align: left;">
                                Sitz der Gesellschaft: Kiel<br>
                                Handelsregister: HRB 4691 KI<br>
                                Amtsgericht Kiel<br>
                                Ust.Id.Nr.: DE 193 296 444
                              </p>
                              <p style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0; margin-bottom: 10px; padding: 0; text-align: left;"><a href="http://shishabrand.com/pages/agb#datenschutz" style="color: #2ba6cb; text-decoration: none;"> Datenschutzerklärung </a></p>


                            </td>
                            <td class="expander" style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; hyphens: auto; line-height: 19px; margin: 0; padding: 0; text-align: left; vertical-align: top; visibility: hidden; width: 0px; word-break: break-word;"></td>
                          </tr>
                        </table>

                      </td>
                    </tr>
                  </table>
                <!-- container end below -->
                </td>
              </tr>
            </table>
          </center>
        </td>
      </tr>
    </table>
  </body>
</html>
